/*
 * ADOBE SYSTEMS INCORPORATED
 * Copyright 2007 Adobe Systems Incorporated
 * All Rights Reserved
 * 
 * NOTICE:  Adobe permits you to use, modify, and distribute this file in accordance with the 
 * terms of the Adobe license agreement accompanying it. If you have received this file from a 
 * source other than Adobe, then your use, modification, or distribution of it requires the prior 
 * written permission of Adobe.
 */

    /* styles to be used with the multiple upload pop-up 
     * the window is divided into two divs - top and bottom
    */
    
    /* Styles for the general window body; we hide the scroll bars and make the content fit the screen */
    html, body {
        border:0;
        margin:0;
        padding:0;
		height:100%;
        overflow-y:hidden;
        overflow-x:hidden;
    }
    
    /*top div; displays the title, errors and the file window*/

    div.top {
        width:100%;
        height:14%;
        border:0px; 
        padding:0px;
        overflow-y:hidden;
        overflow-x:hidden;      
    }
* html div.top {
	height:14.3%;
}

    div.middle {
		width:100%;
		height:81%;
        border:0px; 
        padding:0px;
		margin:0px;
	overflow:auto;
        overflow-y:auto;
        overflow-x:auto;    
	}

* html div.middle {
	height:80%;
}
    /* bottom div - displays the Close  Window button within */
    div.bottom {
        margin-top:1px;
		padding-bottom:2px;
        width:100%;     
        height:5%;
        border-width:0px !important;
        text-align:right;
        overflow:hidden;
		padding-left:0px !important;
    }
    /* div for the file list; */
    div.fileWindow {
        width:100%;
        xoverflow:auto;

        overflow-y:auto;
        overflow-x:auto; 
    }
    
    /* set the H1 heading to 0 margin */
    h1 {
        margin:0px;
    }

	h2 {
        margin:0px;
    }
	

     /* class used to block the user interface while working with files
        applied from JS over all page contents
     */
     
    .interfaceBlocker {
        z-index:1000;
        position:absolute;
        left:0px;
        top:0px;
        background-color:#e2e2e2;
        -moz-opacity: 0.35;
    }
    
    /* star-hack so that IE displays the interface blocking div with transparency */
    * html .interfaceBlocker {
       filter:alpha(Opacity=35);
    }
    
    /* overwrite the default KT_tngtable kollection classes to remove margin, padding and the top-border */
    .KT_tngtable td {
        padding:0px !important;
        margin:0px !important;
        border-top:0px !important;
		height:auto !important;
		vertical-align:middle !important;
        }
    
    .KT_tngtable {
        width:100% !important;
        border:0px !important; 
        margin:0px !important;
    }
    .KT_buttons {
        border-width:0px !important; 
        margin:0px !important;
        padding:0px !important;
		width:100% !important;
    }

    /*special style rule for the KT_tngtable placed in the bottom div */
    div.bottom .KT_tngtable {
        border-width:0px !important;
		width:100% !important;
		padding:0px;
		margin:0px;
    }
	div.bottom .KT_buttons {
		width:100%;		
		height:100%;
		margin-bottom:10px !important;	
	}
	div.top .KT_tngtable {
		height: 100% !important;
	}
	.KT_buttons th {
		text-align:right !important;
	}
	form.tNG_deleteBtnForm {
		margin-bottom:2px;
	}

.KT_tngtable td label {
	font-weight:bold;
}

div.middle table.KT_tngtable td {
	padding:3px !important;
}
div.middle table.KT_tngtable td img{
	border: 1px solid black;
}
div.middle table.KT_tngtable th {
	margin:0;
}

div.top .KT_tngtable th {
	border-bottom: 1px solid black !important;
}
div.top .KT_tngtable td {
	padding-top:3px !important;
	border-bottom: 0 !important;
}
div.bottom .KT_tngtable th {
	border-top:1px solid black !important;
}
div.emptyMessage {
	text-align:center;
	width:100%;
}
div.middle .KT_tngtable td.emptyTable{
	border-bottom:0px !important;
}